<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Todo List</title>
</head>
<body>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Sign up</a>
    <h1>Todo List</h1>
    <div>
        Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add">
        </form>
    </div>
    <div>
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            {{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}"><i class="far fa-check-circle"></i>Mark as Complete</a><br>
            {% endfor %} 
        </ul>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            {{ todo.text }}<br>
            {% endfor %}
        </ul>
    </div>
</body>
</html>